@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
}

body {
   background: linear-gradient(to top, black, #8B0000);
    color: white;
    font-family: "Montserrat", sans-serif;
}

h2{
    background-color: #2D2D2D;
    margin: 26px 170px 26px 170px;
    padding: 17px 184px;
    border-radius: 10px;
}

h2, p {
    color: white;
    text-align: center;
}

#cabecalho{
    background-color: #2D2D2D;
    padding: 20px;
    display: flex;
    align-items: center;  /* Alinha a imagem e o texto verticalmente */
    justify-content: center;  /* Centraliza o conteúdo horizontalmente */
}

#cabecalho img {
    margin-right: 20px;  /* Espaçamento entre a imagem e o texto */
}

#lista_periodos {
    width: 11%;
    margin: 0 auto;
    color: white;
    margin-top: 10px;
}

#lista_cidades {
    width: 11%;
    margin: 0 auto;
    color: white;
    margin-top: 10px;
}

.grafico-container {
    background-color: #2D2D2D;  /*Define a transparencia do container/grafico*/
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

/*Estilos que foram trocados do dropdown*/
.Select-menu {
    background-color: #2D2D2D !important;  /*Fundo do dropdown quando abre*/
    color: #FFFF;
}

.Select-control{
    background-color: #5aa7ff !important;  /*Fundo da parte que mostra a opção escolhida*/
    color: #000000 !important;  /*Cor da parte que mostra a opção escolhida, não ta funcionando aparentemente kkkkkk, mas melhor prevenir do que remediar*/
    cursor: pointer;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);  /*Define a transparência do card*/
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#tabs{
    margin: 10px 170px 10px 170px;
}

#troca_secao{
    background-color: #303030;
    color: #fff;
}

/* Novo CSS para centralizar e reduzir o tamanho do botão "Ver Tudo" */
button#botao_ver_tudo {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #5aa7ff;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button#botao_ver_tudo:hover {
    background-color: #2D2D2D;
    color: white;
}
